<div class="container">
  <div class="row">
    <div class="text-center col-md-offset-6 col-md-12">
<button type="button" class="btn btn-primary" data-toggle="modal" 
        data-target="#mynewbrand"
      >
        Yeni Marka Ekle
      </button>
    </div>
  </div>
  <br />
  <hr />
  <div class="row mt-3">
      <div class="text-center col-md-offset-6 col-md-12">
    <h4>Markalar</h4>
      </div>
    <br />
  </div>
<div class="row mt-3" id= "container_posts">
    <% @brands.each do |brand| %>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><span style="color:rgb(49, 49, 221);font-weight:bold">Marka Adı:</span>  <%= brand.brandname %></h5>
    <br />
    <%= link_to 'Göster', brand, :class => 'btn btn-primary' %>
    <%= link_to 'Düzenle', edit_brand_path(brand), :class => 'btn btn-secondary' %>
    <%= link_to 'Sil', brand, method: :delete, data: { confirm: 'Silmek istediğinize eminmisiniz?' }, :class => 'btn btn-danger' %>
  </div>
</div>
    <% end %>
</div>

  <!-- Modal -->
  <%= form_for(@brand, remote: true) do |brand| %>
  <div
    class="modal fade"
    id="mynewbrand"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
            <h4 class="modal-title" id="myModalLabel">Marka Ekle</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
        <div class="field">
        <p>Marka</p><br>
        <%= brand.text_area :brandname, class:"form-control brand_title" %><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>