<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productname %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand.brandname %>
</p>

<%= link_to 'Düzenle', edit_product_path(@product) %> |
<%= link_to 'Geri', products_path %>
